<!DOCTYPE HTML>
<html>
<head>
	<title>Statistics - Insighter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Insighter Running Walking Sitting Fall Detection Fall-Detection Health-Montoring Statistics" />

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="css/font-awesome.css" rel="stylesheet"> 
	<!-- jQuery -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
	<!-- lined-icons -->
	<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
	<!-- //lined-icons -->
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>	
	<link href="css/animate.css" rel='stylesheet' type='text/css' />
	<!--Easy Pie Chart-->
	<!--skycons-icons-->
	<script type="text/javascript" src="js/skycons.js"></script>

</head> 
<body ng-app="userDashboard" ng-controller="userDashboardCntrl" ng-init="getStats();">
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
				<!-- header-starts -->
				<div class="header-section">
					<!--menu-right-->
					<div class="top_menu">
					</div>

					<!--/profile_details-->
					<div class="" style="float: right;">
						<ul class="nofitications-dropdown">
							<li class="dropdown note dra-down">

							</li>
							<li class="dropdown note">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope-o"></i> <span class="badge">3</span></a>


								<ul class="dropdown-menu two first">
									<li>
										<div class="notification_header">
											<h3>You have 3 new messages  </h3> 
										</div>
									</li>
									<li><a href="#">
										<div class="user_img"><img src="images/1.jpg" alt=""></div>
										<div class="notification_desc">
											<p>Lorem ipsum dolor sit amet</p>
											<p><span>1 hour ago</span></p>
										</div>
										<div class="clearfix"></div>	
									</a></li>
									<li class="odd"><a href="#">
										<div class="user_img"><img src="images/in.jpg" alt=""></div>
										<div class="notification_desc">
											<p>Lorem ipsum dolor sit amet </p>
											<p><span>1 hour ago</span></p>
										</div>
										<div class="clearfix"></div>	
									</a></li>
									<li><a href="#">
										<div class="user_img"><img src="images/in1.jpg" alt=""></div>
										<div class="notification_desc">
											<p>Lorem ipsum dolor sit amet </p>
											<p><span>1 hour ago</span></p>
										</div>
										<div class="clearfix"></div>	
									</a></li>
									<li>
										<div class="notification_bottom">
											<a href="#">See all messages</a>
										</div> 
									</li>
								</ul>
							</li>

							<li class="dropdown note">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o"></i> <span class="badge">5</span></a>

								<ul class="dropdown-menu two">
									<li>
										<div class="notification_header">
											<h3>You have 5 new notification</h3>
										</div>
									</li>
									<li><a href="#">
										<div class="user_img"><img src="images/in.jpg" alt=""></div>
										<div class="notification_desc">
											<p>Lorem ipsum dolor sit amet</p>
											<p><span>1 hour ago</span></p>
										</div>
										<div class="clearfix"></div>	
									</a></li>
									<li class="odd"><a href="#">
										<div class="user_img"><img src="images/in5.jpg" alt=""></div>
										<div class="notification_desc">
											<p>Lorem ipsum dolor sit amet </p>
											<p><span>1 hour ago</span></p>
										</div>
										<div class="clearfix"></div>	
									</a></li>
									<li><a href="#">
										<div class="user_img"><img src="images/in8.jpg" alt=""></div>
										<div class="notification_desc">
											<p>Lorem ipsum dolor sit amet </p>
											<p><span>1 hour ago</span></p>
										</div>
										<div class="clearfix"></div>	
									</a></li>
									<li>
										<div class="notification_bottom">
											<a href="#">See all notification</a>
										</div> 
									</li>
								</ul>
							</li>	

							<div class="clearfix"></div>	
						</ul>
					</div>
					<div class="clearfix"></div>	
					<!--//profile_details-->
				</div>
				<!--//menu-right-->
				<div class="clearfix"></div>
			</div>
			<!-- //header-ends -->

			<div class="outter-wp">
				<div class="widget-one">
					<!-- Minutes-->
					<div class="col-md-3 widget-shadow">
						<div class="header-top weather2">
							<h4 class="weather">Steps</h4>
							<div class="clearfix"> </div>
						</div>
						<div class="circle-charts" align="center">	

							<div class="tempStatBox">
								<div class="tempStat" style="border-color: #FF5733;">76</div>
								<span>No of steps in past 24 hours</span>
							</div>								
						</div>
					</div>

					<!-- Miles-->
					<div class="col-md-3 widget-shadow">
						<div class="header-top weather2">
							<h4 class="weather">Calories</h4>
							<div class="clearfix"> </div>
						</div>
						<div class="circle-charts" align="center">							
							<div class="tempStatBox">
								<div class="tempStat" style="border-color: #28B463;">76</div>
								<span>Calories burned in past 24 hours</span>
							</div>						
						</div>
					</div>

					<!-- Calories-->
					<div class="col-md-3 widget-shadow">
						<div class="header-top weather2">
							<h4 class="weather">Fall Alerts</h4>
							<div class="clearfix"> </div>
						</div>
						<div class="circle-charts" align="center">							
							 <div class="tempStatBox">
								<div class="tempStat" style="border-color: #F4D03F;">2</div>
								<span>Alerts triggered in past 24 hours</span>
							</div>								
						</div>
					</div>

					<!-- Steps-->
					<div class="col-md-3 widget-shadow">
						<div class="header-top weather2">
							<h4 class="weather">Time Spent</h4>
							<div class="clearfix"> </div>
						</div>
						<div class="circle-charts" align="center">							
							<div class="tempStatBox">
								<div class="tempStat" style="border-color: #2980B9;">76</div>
								<span>Walk, Sit & Run</span>
							</div>								
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>

				<br>
			</div>
			<!--//outer-wp-->
			<!--footer section start-->
			<footer>
				<p>&copy 2016 Insighter. All Rights Reserved</p>
			</footer>
		</div>
		
		<!--footer section end-->
		<!--/sidebar-menu-->
	<div class="sidebar-menu">
		<header class="logo">
			<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>Insighter</h1></span> 
			<!--<img id="logo" src="" alt="Logo"/>--> 
			</a> 
		</header>
	<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
	<!--/down-->
	<div class="down">	
		<a href="/"><img src="images/user.png" width="100" style="border: none; border-radius: 0;"></a>
		<a href="/"><span class=" name-caret">{{user_details.firstName}} {{user_details.lastName}}</span></a>
		<ul>
			<li><a class="tooltips" href="/profile"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
			<li><a class="tooltips" href="/logout"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
		</ul>
	</div>
	<!--//down-->
	<div class="menu">
		<ul id="menu" >
			<li><a href="/"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
			<li class="active"><a href="/stats"><i class="glyphicon glyphicon-stats"></i> <span>Statistics</span></a></li>
			<li><a href="/emergencyContact"><i class="glyphicon glyphicon-envelope"></i> <span>Emergency Contact</span></a></li>
			<li><a href="/locMap"><i class="glyphicon glyphicon-map-marker"></i> <span>Location</span></a></li>



		</ul>
	</div>
</div>
	</div>
		
</div>
<!--//content-inner-->

<div class="clearfix"></div>		
</div>
<script>
	var toggle = true;

	$(".sidebar-icon").click(function() {                
		if (toggle)
		{
			$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
			$("#menu span").css({"position":"absolute"});
		}
		else
		{
			$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
			setTimeout(function() {
				$("#menu span").css({"position":"relative"});
			}, 400);
		}

		toggle = !toggle;
	});
</script>
<!--js -->

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript"  src="js/jquery.nicescroll.js"></script>
<script  type="text/javascript"  src="js/scripts.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<!-- AngularJs library -->  
       <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script type="text/javascript" src="angular/home.js"></script>
</body>
</html>